@model List<webforum.Models.user>
@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model)
{
    <div class="user_h"><h3>@item.username.ToUpper()</h3></div>

    <div class="info">
        <table>
            <tr>
                <td>
                    <p>User ID:</p>
                    <p>@item.user_id</p>
                </td>

                <th>
                    <p>Name: @item.firstname @item.lastname</p>

                    @if (@item.email == null)
                    {
                        <p>Email: n/a</p>
                    }else{
                        <p>Email: @item.email</p>
                    }

                    <p>Reputation: @item.reputation.GetValueOrDefault()</p>
                </th>
            </tr>
        </table>
    </div>

    <br />
    
    <div class="threads">
        <table>
            <tr>
                <td>
                    @if (@item.threads.FirstOrDefault() == null)
                    {
                        <p>Title: n/a</p>
                    }
                    else
                    {
                        <p>Title: @item.threads.FirstOrDefault().title</p>
                    }
                </td>

                <th>
                    @if (@item.threads.FirstOrDefault() == null)
                    {
                        <p>n/a</p>
                    }
                    else
                    {
                        <p>@item.threads.FirstOrDefault().content</p>
                    }
                </th>
            </tr>
        </table>
    </div>
}